<div class="content">
	<h1 class="title">TSCPP</h1>
	<p class="desc">
		<strong>Hello!</strong> I am a TSCPP, the flexible full-stack developer and UI & UX designer.
		<br>
		<br>
		I have been activly programming scince 2017 ({{ new Date().getYear() - 117 }} years ago). Some of my favorite languages are TypeScript, C++ and Rust, so far. Sometimes I can struggle completing almost finished projects.
	</p>
	<a href="https://github.com/tscpp">GitHub</a> |
	<a href="/projects">Projects</a> |
	<a href="/blog">Blog</a>
</div>